/* About_1.jsx */

.about_1-container {
    margin-top: 80px;
    padding: 20px;
    font-family: "Arial", sans-serif;
    background-color: #f4f4f9;
    color: #180502;
  }
  .about_1-title {
    text-align: center;
    color: #180502;
    font-size: 36px;
    margin-bottom: 20px;
  }
  .about_1-section-title {
    color: #180502;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .about_1-description {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  .about_1-text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  .about_1-list {
    font-size: 16px;
    margin-left: 20px;
    line-height: 1.6;
  }
  .about_1-list li {
    margin-bottom: 10px;
  }