.Status_1 {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin-top: 100px;
}
.Status_1 .loading {
  text-align: center;
  margin-bottom: 30px;
  color: white;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
}
.Status_1 h1 {
  text-align: center;
  margin-bottom: 30px;
  color: white;
  font-size: 4rem;
  font-family: 'Times New Roman', Times, serif;
}

.Status_1 .filter {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.Status_1 .filter select {
  font-size: 1rem;
  padding: 4px 20px;
  border-radius: 8px;
}

.Status_1 .cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-top: 30px;
}
.Status_1 .card {
  background-color: #ded1d1;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.Status_1 .card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.Status_1 .card p {
  margin: 5px 0;
}
.Status_1 .attachment {
display: flex;
align-items: center;
}
.Status_1 .attachment a {
  text-decoration: none;
  margin-left: 5px;
  transition: color 0.3s ease;
}

.Status_1 .attachment a:hover {
  color: #0056b3;
  text-decoration: underline;
}
.Status_1 .status-update{
  display: flex;
}
.Status_1 .status-update select {
  font-size: 1rem; 
  padding: 2px 2px; 
  border-radius: 6px; 
  border: 1px solid #ccc;
  width: auto; 
  margin-left: 5px;
}
.Status_1 .delete-btn button {
  padding: 8px 12px;
  background-color: rgb(172, 22, 22);
  color: white;
  border: none;
  width: 100%;
  font-size: large;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.Status_1 .delete-btn button:hover {
  background-color: rgb(87, 5, 5);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .Status_1 .filter select {
    padding: 4px 20px;
  }

  .Status_1 .card {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .Status_1 h1 {
    font-size: 4rem;
  }

  .Status_1 .filter select {
    padding: 2px 20px;
  }

  .Status_1 .card {
    width: 100%;
    padding: 15px;
  }

  .Status_1 .card h3 {
    font-size: 1.2rem;
  }

  .Status_1 .delete-btn button {
    padding: 6px 10px;
    font-size: 0.9rem;
  }
}